<div class="content-wrapper">
    <app-recruiter-header candidateName="Edit vacancy"></app-recruiter-header>

    <section class="content col-md-12 p-0" style="margin: auto;">
        <!-- <div *ngIf="updateMsg" class="alert alert-success" role="alert">
            {{ updateMsg }}
        </div> -->
        <div class="card br-8 mx-23">
            <!-- <div class="card-header h4 font-weight-bold text-secondary">Edit vacancy</div> -->
            <div class="card-body">
                <form name="vacancyupdateform" #ff="ngForm">
                    <div class="form-group mb-0">
                        <label class="mb-0 py-24">Title</label>
                        <input type="text" name="title" class="form-control h-60" [(ngModel)]='vacancyObj.title'
                            required #title="ngModel">
                        <span class="help-block bk" *ngIf="!title.valid && title.touched">The title field is required
                            !</span>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-0 py-24">Company</label>
                        <input type="text" name="company" class="form-control h-60" [(ngModel)]='vacancyObj.company'
                            required #company="ngModel">
                        <span class="help-block bk" *ngIf="!company.valid && company.touched">The company field is
                            required !</span>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-0 py-24">City</label>
                        <input type="text" name="city" class="form-control h-60" [(ngModel)]='vacancyObj.city' required
                            #city="ngModel">
                        <span class="help-block bk" *ngIf="!city.valid && city.touched">The city field is required
                            !</span>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="fw-600 skills-title d-flex align-items-center f-16 gray4 mb-19 mt-4">
                                Assessed skills
                                
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div *ngFor="let skills of skillSetArray; let i = index" class="col-lg-6">
                                    <div class="round fw-500 mb-22 simptip-position-top simptip-fade"
                                    data-tooltip="The skills are chosen when creating a vacancy and cannot be edited.">
                                        <input type="checkbox" class="form-check-input fw-500" [checked]="skills.checked" disabled
                                            id="checkbox{{i+1}}" />
                                        <label for="checkbox{{i+1}}" (click)="checkClick('checkbox' + (i+1))"></label>
                                        <span class="fw-500 pl-4 user-select-none cursor-pointer"
                                            (click)="clickCheckbox('checkbox' + (i+1))">{{skills.name}}</span>                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <app-question [selectedSkillsArray]="sendSkillArray" (sendQuestions)="getQuestionArray($event)"></app-question>

                    <!-- <div class="d-flex justify-content-between">
                        <div class="p-2 f-16 fw-600 gray4">Questions</div>
                        <div class="p-2"><button type="button" class="btn f-16 fw-600 gray4">Add question <span class="pl-3">+</span></button>
                        </div>

                    </div>

                    <div class="card-body table-responsive p-0" style="width:100%">
                        <table class="table table-head-fixed text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Sl&nbsp;&nbsp;no.</th>
                                    <th scope="col">Question</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10</td>
                                    <td>What is your name?</td>
                                   
                                    <td>
                                        <button class="btn btn-edit btn-sm"><i class="fas fa-pencil-alt"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"><i class="fas fa-trash"></i></button>&nbsp;
                                    </td>


                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>What is your name?</td>
                                    <td>
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-pencil-alt"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-trash"></i></button>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>What is your name?</td>
                                    <td>
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-pencil-alt"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-trash"></i></button>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="fw-600 f-16 gray4 mb-27">Summary</div>
                        </div>
                        <div class="col-lg-12">
                            <div class="f-16 gray4 pb-1">We have <span class="fw-600">12 questions</span></div>
                        </div>
                        <div class="col-lg-12">
                            <div class="f-16 gray4">Need about <span class="fw-600"> 24 minutes</span></div>
                        </div>
                    </div> -->
                    <div class="row" *ngIf="updateMsg">
                        <div class="col-lg-12">
                            <div class="form-group text-center pt-2">
                                <div class="added f-14 float-right pt-15 mr-4">
                                    <span class="fw-600">Vacancy updated</span> successfully
                                    <i class="fa fa-check pl-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group text-right pt-2">
                                <button class="btn btn-cancel" type="button" (click)="onCancel()">Cancel</button>
                                <!-- <button class="btn btn-sub" type="submit" [disabled]="!ff.valid">Submit</button> &nbsp; -->
                                <button type="button" [disabled]="!ff.valid" class="btn btn-sub" data-toggle="modal"
                                    data-target="#save">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </section>
</div>

<!-- The Modal -->
<div class="modal fade" id="save" #saveChangesModal>
    <div class="modal-dialog modal-sm">
        <div class="modal-content save">

            <!-- Modal Header -->
            <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->

            <!-- Modal body -->
            <div class="modal-body p-31">
                <button type="button" class="close close1 pr-2 pt-2" data-dismiss="modal">&times;</button>
                <div class="f-24 text-center pt-2 pb-16">Saving changes</div>
                <div class="f-16 text-center">Are you sure you want to leave this page?</div>
                <div class="text-center">
                    <button type="button" class="btn btn-schange" (click)="onUpdateVacancy(ff)">Save changes</button>
                    <button type="button" class="btn btn-leave">Leave without saving</button>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

        </div>
    </div>
</div>


<!-- <app-recruiter-footer></app-recruiter-footer> -->