label.edit {
    font-size: 16px;
    color: #333333;
}

.p-24 {
    padding: 24px;
}

.br-8 {
    border-radius: 8px;
}

input.form-control.h-60 {
    height: 60px;
    border: 2px solid #E0E0E0;
    border-radius: 6px;
}

.py-24 {
    padding: 24px 0px;
}

button.btn.btn-edit {
    height: 32px;
    width: 32px;
    background-color: #F2F2F2;
    padding: 5px 9px;
    color: #828282;
    border-radius: 4px;
}

button.btn.btn-cancel {
    width: 262px;
    height: 48px;
    background: #E0E0E0;
    border-radius: 8px;
    margin-right: 17px;
    font-size: 16px;
    font-weight: 500;
    color: #4F4F4F;
}

button.btn.btn-sub {
    width: 262px;
    height: 48px;
    background: #AE50A3;
    border-radius: 8px;
    margin-right: 17px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.modal-content.save {
    width: 422px;
}

button.btn.btn-schange {
    width: 360px;
    height: 48px;
    background: #AE50A3;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}

button.btn.btn-leave {
    width: 360px;
    height: 48px;
    background: #E0E0E0;
    border-radius: 8px;
    color: #4F4F4F;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
}

.round {
    position: relative;
}

.round label {
    background-color: #ffffff;
    border: 1px solid #ccc;
    /* border-radius:6px; */
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
    opacity: 0;
}

.round input[type="checkbox"]:checked+label {
    /* background-color: #ffffff; */
    /* border-color: #4F4F4F; */
    background-color: #AE50A3;
    border: 1px solid #ccc;
}

.round input[type="checkbox"]:disabled+label {
    background-color: #BDBDBD;
    /* border-color: #4F4F4F; */
}

/* .round input[type="checkbox"]:disabled+label:after {
    border: 2px solid #fff;
    border-top: none;
    opacity: 1 !important;
    border-right: none;
} */

.round input[type="checkbox"]:checked+label:after {
    opacity: 1 ;
}

@media only screen and (max-width:991px) {
    .modal-content.save {
        width: auto;
    }
    button.btn.btn-sub {
        width: auto;
        height: 48px;
        background: #AE50A3;
        border-radius: 8px;
        margin-right: 17px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
    }
    button.btn.btn-schange {
        width: auto;
        height: 48px;
        background: #AE50A3;
        border-radius: 8px;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        margin-top: 30px;
    }
    button.btn.btn-leave {
        width: auto;
        height: 48px;
        background: #E0E0E0;
        border-radius: 8px;
        color: #4F4F4F;
        font-weight: 600;
        font-size: 16px;
        margin-top: 16px;
    }
}

.pb-16 {
    padding-bottom: 16px;
}

.modal-body.p-31 {
    padding: 31px;
}

button.close.close1 {
    position: absolute;
    right: 4%;
    top: 2%;
}

.added {
    background: #E0E0E0;
    backdrop-filter: blur(8px);
    border-radius: 6px;
    width: 284px;
    height: 48px;
}

.pt-15 {
    padding-top: 15px;
}

.skills-title svg path{
    fill: #AE50A3;
}
.info-icon{
    
    margin-left: 11px;
}

/* tooltip */

[data-tooltip] {
    position: relative;
    display: inline-block;
  }
  
  [data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
  }
  
  [data-tooltip]:after {
    /* height: 22px; */
    padding: 11px;
    font-size: 14px;
    line-height: 20px;
    content: attr(data-tooltip);
    width: 32vw;
    letter-spacing: -0.33px;
   
  }
  [data-tooltip].simptip-position-top:after {
    background-color: #F2F2F2;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: rgba(79, 79, 79, 0.6);
  }
  
  [data-tooltip]:hover, [data-tooltip]:focus {
    background-color: transparent;
  }
  
 [data-tooltip]:hover:after, [data-tooltip]:focus:after {
    visibility: visible;
    opacity: 1;
  }
   .simptip-position-top:after {
    left: 0%;
    bottom: 100%;
  }

  .simptip-position-top:after {
    margin-bottom: 4px;
  }
 
 .simptip-fade:after {
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    -ms-transition: opacity 0.2s linear, visibility 0.2s linear;
    -o-transition: opacity 0.2s linear, visibility 0.2s linear;
    transition: opacity 0.2s linear, visibility 0.2s linear;
  } 