.border-no {
    border: none;
}
button.btn.btn-pls {
    width: 32px;
    height: 32px;
    background: #AE50A3;
    border-radius: 4px;
    color: #ffffff;
}
button.btn.btn-edit {
    height: 32px;
    width: 32px;
    background-color: #F2F2F2;
    padding: 5px 9px;
    color: #828282;
    border-radius: 4px;
}
.modal-content.save {
    width: 422px;
}
.modal-body.p-31 {
    padding: 31px;
}

button.close.close1 {
    position: absolute;
    right: 4%;
    top: 2%;
}
button.close.close1 {
    position: absolute;
    right: 4%;
    top: 2%;
}
.pb-16 {
    padding-bottom: 16px;
}
button.btn.btn-schange {
    width: 360px;
    height: 48px;
    background: #AE50A3;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}
button.btn.btn-leave {
    width: 360px;
    height: 48px;
    background: #E0E0E0;
    border-radius: 8px;
    color: #4F4F4F;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
}
.desc-class{
    padding: 24px;
}
.desc-class div{
    width: 300px;
    margin: auto;
    margin-top: 24px;
    color: rgba(189,189,189,0.6);
}
.add-question-table tr td{
    vertical-align: middle;
}
.add-question-table tr:last-of-type{
    border-bottom: 1px solid #dee2e6;
}
@media only screen and (max-width:991px) {
    .modal-content.save {
        width: auto;
    }
    button.btn.btn-sub {
        width: auto;
        height: 48px;
        background: #AE50A3;
        border-radius: 8px;
        margin-right: 17px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
    }
    button.btn.btn-schange {
        width: auto;
        height: 48px;
        background: #AE50A3;
        border-radius: 8px;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        margin-top: 30px;
    }
    button.btn.btn-leave {
        width: auto;
        height: 48px;
        background: #E0E0E0;
        border-radius: 8px;
        color: #4F4F4F;
        font-weight: 600;
        font-size: 16px;
        margin-top: 16px;
    }
  
}
