<div class="content-wrapper">
    <app-recruiter-header></app-recruiter-header>

    <div class=" d-flex justify-content-center align-items-center h-100">
        <section class="content  pt-4  col-lg-4 mx-auto text-center">
            <div class="f-24 gray2">Welcome to</div>
            <div class="f-70 grayTitle fw-500">Gleango</div>
            <div class="f-24 gray2">Get started by creating</div>
            <div class="f-24 gray2">your first vacancy</div>
            <!-- <button type="button" class="btn btn-violet f-16" (click)="onAdd()">Add vacancy</button> -->
            <button class="btn btn-violet mt-16" (click)="onAdd()">Add vacancy </button>
        </section>
    </div>
</div>

<!-- <app-recruiter-footer></app-recruiter-footer> -->