.search {
    background-color: #F2F2F2;
}

.table td, .table th {
    min-width: 100px;
    max-width: 100px;
    font-size: 14px;
    text-align: center;
  }

  .table td:first-child, .table th:first-child {
    min-width: 70px;
  }

  button.btn.btn-edit{
    height: 32px;
    width: 32px;
    background-color: #F2F2F2;
    padding: 5px 9px;
    color: #828282;
    border-radius: 4px;
}
.toasterMsg{
  background: #E0E0E0;
  backdrop-filter: blur(8px);
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  padding: 15px 16px;
  font-size: 14px;
  position: absolute;
  bottom: 3%;
  width: 32%;
  right: 3%;
  display: flex;
  justify-content: space-between;
}