
<div class="content-wrapper">
<app-recruiter-header showTitle="Candidates"></app-recruiter-header>

    <section class="content pt-4">
        <div *ngIf="deleteSucc" class="alert alert-success" role="alert">
            {{ deleteSucc }}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="" style="width: 100%;">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="card mx-23">
                                <!-- <div class="col">
                                    <h4 class="font-weight-bold text-secondary">Candidates</h4>
                                </div> -->
                                <div class="">
                                    <div class="row">



                                        <!-- <div class="col dataTables_filter">
                                            <label style="margin-right: 10px;">Search</label>
                                            <input type='text' class="form-control form-control-sm"
                                                placeholder="Type here" (keyup)='onSearch($event)'>
                                        </div> -->

                                        <div class="col text-right">
                                            <!-- <button class="btn btn-outline-success" (click)="onAdd()">Add candidate <i class="fas fa-plus ml-1"></i></button>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group bg-white p-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-5"><i class="fa fa-search"></i></span>
                                    </div>
                                    <input class="form-control search" id="myInput" type="text" placeholder="Search"  [(ngModel)]="searchedKeyword">
                                </div>
                                <div class="card-body table-responsive p-0" style="height:calc(100vh - 180px); width:100%">
                                    <table class="table table-head-fixed">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sl&nbsp;no.</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Job title</th>
                                                <th scope="col">Company</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Created&nbsp;at</th>
                                                <th scope="col">Share video</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let candidate of candidatesSearchArr | filter:searchedKeyword; let i = index">
                                                <td>{{ i + 1 }}</td>
                                                <td (click)="onViewInterview(candidate.LINK)" class="cursor-pointer">{{ candidate.NAME }}</td>
                                                <td>{{ candidate.JOB_TITLE }}</td>
                                                <td>{{ candidate.COMPANY }}</td>
                                                <td>{{ candidate.EMAIL }}</td>
                                                <td>{{ candidate.PHONE }}</td>
                                                <td>{{ candidate.CITY }}</td>
                                                <td>{{ candidate.CREATED_AT | date: 'dd-MM-yyyy h:mm:ss' }}</td>
                                                <!-- <td>
                                                    <button class="btn btn-outline-secondary btn-sm" (click)="onViewInterview(candidate.LINK)">View interview <i
                                                        class="fas fa-podcast ml-1"></i></button>
                                                </td> -->
                                                <!-- <td>
                                                    <button class="btn btn-outline-primary btn-sm"
                                                        (click)="onEdit(candidate.C_ID)">Edit <i
                                                            class="fas fa-edit ml-1"></i></button>&nbsp;
                                                    <button class="btn btn-outline-danger btn-sm"
                                                        (click)="onDeleteCandidate(candidate.C_ID)">Delete <i
                                                            class="fas fa-trash ml-1"></i></button>&nbsp;
                                                    <button class="btn btn-outline-secondary btn-sm"
                                                        (click)="onViewInterview(candidate.LINK)">View interview <i
                                                            class="fas fa-podcast ml-1"></i></button>
                                                    <button class="btn btn-outline-secondary btn-sm" (click)="onCopy(i)"
                                                        ngxClipboard
                                                        [cbContent]="'https://platform.gleango.com/#/recruiter/interview/' + candidate.LINK">{{
                                                        candidate.isCopy ? 'Copied..' : 'Copy link' }}<i
                                                            class="fas fa-podcast ml-1"></i></button>
                                                </td> -->
                                                <td>

                                                    <button class="btn btn btn-edit btn-sm" (click)="onCopy(i)" ngxClipboard [cbContent]="'https://platform.gleango.com/#/recruiter/interview/' + candidate.LINK">{{
                                                        candidate.isCopy ? '' : '' }}<i class="fa fa-link"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div *ngIf="showToastMsg" class="toasterMsg">
                                    <div><b>Link copied</b> to clipboard</div>
                                    <div><i class="fas fa-link"></i></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- <app-recruiter-footer></app-recruiter-footer> -->