<footer class="main-footer">
    <strong>Copyright &copy; 2019-2022 <a href="http://adminlte.io"></a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.5
    </div>
</footer>

<aside class="control-sidebar control-sidebar-dark">

</aside>
