<app-header></app-header>

    <div class="content-wrapper">
        <section class="content pt-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="" style="width: 100%;">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="font-weight-bold">Candidate</h4>
                                    </div>
                                    <div class="card-body table-responsive p-0" style="height:400px; width:100%">
                                        <table class="table table-head-fixed">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sl no.</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Admin</td>
                                                    <td>admin@admin.com</td>
                                                    <td>1234</td>
                                                    <td>
                                                        <button class="btn btn-primary">View <i class="fas fa-eye"></i></button>&nbsp; 
                                                        <button class="btn btn-danger">Delete <i class="fas fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<app-footer></app-footer>