<div class="mx-23">
    <nav class=" navbar navbar-expand">
        <ul class="list-unstyled">
            <li>
                <h4 class="font-weight-bold text-dark f-24  pt-3">
                    {{name}}
                </h4>
            </li>

        </ul>


    </nav>

    <section class="content">
        <div class="card col-md-12" style="margin: auto;"
            *ngFor="let interview of interview | paginate: { itemsPerPage: 1, currentPage: p }">
            <!-- <div class="card-header h5 font-weight-bold text-secondary">
                <div class="row">
                    <div class="col">
                        <small class="font-weight-bold text-secondary">Interview Q & A of</small> &nbsp;<span
                            class="font-italic text-dark">{{ interview.NAME }}</span>
                    </div>
                    <div class="col text-right">
                        NO : &nbsp;<span class="badge badge-success">{{ p }}</span>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="card p-24" style="width: 75%;margin: 0 auto;" *ngFor="let interview of interview | paginate: { itemsPerPage: 1, currentPage: p }">
            <div class="fw-600 f-16">Question {{ p }}</div>
            <div class="f-18 py-21">{{interview.QUESTION}}</div>
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- <p class="h4 text-center font-weight-bold text-primary">{{ interview.QUESTION }}</p> -->
                        <!-- <video width="100%" height="382" controls autoplay loop controls muted> -->
                        <video width="100%" height="382" id='video-element' class="responsive-video" #videoElement (timeupdate)="updateTime()"
                            (loadedmetadata)="loadmetadata($event)">
                            <!-- <video class="video-fluid z-depth-1 pt-3" width="auto" height="350" autoplay loop controls muted> -->
                            <source src="{{base_url}}{{ interview.ANSWER }}" type="video/mp4" />
                        </video>

                        <!-- <div class="row justify-content-center align-items-center">
                            <button id='btnplay' class='play' title='play' accesskey="P" onclick='playVideo();'></button>
                            <progress id='progress-bar' min='0' max='100' value='0'>0% played</progress>
                            <input type="range" id="volume-bar" title="volume" min="0" max="1" step="0.1" value="1">
                            <button class='fullscreen' onclick="openFullscreen();">
                              <img src="../../../assets/dist/img/Union.png">
                              </button>
                        </div> -->

                        <div class="d-flex align-items-center controls">
                            <button id='btnplay' class='play' title='play' accesskey="P" (click)='playVideo()'
                                #btnPlay></button>
                            <div class="abc d-flex justify-content-between">
                                <progress id='progress-bar' min='0' max='100' value='0' #progressBar
                                    (click)="progressBarClick(this)">0% played</progress>
                                <button id='btnFullScreen' class='fullscreen pr-4' title='toggle full screen'
                                    accesskey="T" (click)='openFullscreen();'>
                                    <img src="/assets/dist/img/Union.png">
                                </button>
                                <input class="d-none" type="range" id="volume-bar" title="volume" min="0" max="1"
                                    step="0.1" value="1" (change)="volumeBar(e)">
                            </div>
                        </div>

                        <div class="text-right pt-2">
                            <pagination-controls class="hide-page-numbers" (pageChange)="p = $event">
                            </pagination-controls>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="fw-600 f-16 pb-2">Comments</div>
                        <div class="card p-1 ">
                            <div class="comment-section pb-1">
                                <div *ngFor="let comment of commentslist" class="person p-2 mb-1">
                                    <div class="name">{{recruiterName}}</div>
                                    <div class="detail f-14">{{comment}}</div>

                                </div>
                            </div>

                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control f-14" placeholder="Write your comment here">
                                    <div class="input-group-append">
                                        <span class="input-group-text com"><i class="fas fa-plus"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div *ngFor="let skillsInfo of skillsArray">
                    <div class="row">
                        <div class="f-16 fw-600 pb-16 gray4 pt-24">
                            <span style="margin-right: 9px;">{{ skillsInfo.skill_name }}</span>
                            <span class="simptip-position-top simptip-fade" [attr.data-tooltip]="skillsInfo.tooltip">
                                <svg class="info-icon" width="17" height="17" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.99967 0.333252C3.31967 0.333252 0.333008 3.31992 0.333008 6.99992C0.333008 10.6799 3.31967 13.6666 6.99967 13.6666C10.6797 13.6666 13.6663 10.6799 13.6663 6.99992C13.6663 3.31992 10.6797 0.333252 6.99967 0.333252ZM7.66634 10.3333H6.33301V6.33325H7.66634V10.3333ZM7.66634 4.99992H6.33301V3.66659H7.66634V4.99992Z"
                                        fill="#BDBDBD" />
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col skillsInfo" *ngFor="let scoreInfo of skillsInfo.scores">
                            <div [attr.data-tooltip]="scoreInfo.definition"
                                class="bg3 row justify-content-center align-items-center simptip-position-top simptip-fade"
                                [ngClass]="{'active' : scoreInfo.active}">
                                <span class="">{{ scoreInfo.score_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>

</div>

<!-- <div class="content">
    <section class="content pt-4">
        <div class="card col-md-9" style="margin: auto;"
            *ngFor="let interview of interview | paginate: { itemsPerPage: 1, currentPage: p }">
            <div class="card-header h5 font-weight-bold text-secondary">
                <div class="row">
                    <div class="col">
                        <small class="font-weight-bold text-secondary">Interview  & A of</small> &nbsp;<span
                            class="font-italic text-dark">{{ interview.NAME }}</span>
                    </div>
                    <div class="col text-right">
                        NO : &nbsp;<span class="badge badge-success">{{ p }}</span>
                    </div>
                </div>
            </div>
            <div class="card-body text-center">

                <p class="h4 text-center font-weight-bold text-primary">{{ interview.QUESTION }}</p>

                <video class="video-fluid z-depth-1 pt-3" width="auto" height="350" autoplay loop controls muted>
                    <source src="{{base_url}}{{ interview.ANSWER }}" type="video/mp4" />
                </video>

                <div class="text-right pt-4">
                    <pagination-controls class="hide-page-numbers" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <br>
    </section>
</div> -->