
<div class="content-wrapper">
<app-recruiter-header></app-recruiter-header>

    <section class="content pt-4 col-md-8" style="margin: auto;">
        <div *ngIf="successMsg" class="alert alert-success" role="alert">
            {{ successMsg }}
        </div>
        <div class="card">
            <div class="card-header h4 font-weight-bold text-secondary">Add candidate</div>
            <div class="card-body">
                <form name="vacancyform" (ngSubmit)="ff.form.valid && onAddCandidate(ff)" #ff="ngForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" id="name" class="form-control" [(ngModel)]='candidateObj.name' required #name="ngModel">
                        <span class="help-block bk" *ngIf="!name.valid && name.touched">The name field is required !</span>
                    </div>
                    <div class="form-group">
                        <label>Job title</label>
                        <input type="text" name="job_title" id="job_title" class="form-control" [(ngModel)]='candidateObj.job_title' required #job_title="ngModel">
                        <span class="help-block bk" *ngIf="!job_title.valid && job_title.touched">The job title field is required !</span>
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        <input type="text" name="company" id="company" class="form-control" [(ngModel)]='candidateObj.company' required #company="ngModel">
                        <span class="help-block bk" *ngIf="!company.valid && company.touched">The company field is required !</span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="email" id="email" class="form-control" [(ngModel)]='candidateObj.email' required #email="ngModel" email>
                        <span class="help-block bk" *ngIf="!email.valid && email.touched">The email field is required !</span>
                    </div>
                    <div class="form-group">
                        <label>Phone no</label>
                        <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]='candidateObj.phone' required #phone="ngModel">
                        <span class="help-block bk" *ngIf="!phone.valid && phone.touched">The phone no field is required !</span>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" name="city" id="city" class="form-control" [(ngModel)]='candidateObj.city' required #city="ngModel">
                        <span class="help-block bk" *ngIf="!city.valid && city.touched">The city no field is required !</span>
                    </div>
                    <div class="form-group text-right pt-2">
                        <button class="btn btn-primary" type="submit" [disabled]="!ff.valid">Submit</button> &nbsp;
                        <button class="btn btn-dark" type="button" (click)="onCancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </section>
</div>

<!-- <app-recruiter-footer></app-recruiter-footer> -->