.my-48 {
    margin: 48px 0px;
}

.sidebar1 .nav-treeview .nav-item .nav-link.active {
    background-color: #AE50A3 !important;
    color: #FFFFFF;
    height: 56px;
    border-radius: 8px;
    font-size: 14px;
    padding: 19px;
    font-weight: 600;
}
.sidebar1 .nav-treeview .nav-item .nav-link.active svg path{
    fill: #FFFFFF;
}


.sidebar1 .nav-treeview .nav-item .nav-link {
    height: 56px;
    border-radius: 8px;
    font-size: 14px;
    padding: 19px;
}
.main-header{
    margin-left: 0px !important;
}

.main-sidebar.sidebar1,
.main-sidebar.sidebar1::before {
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    width: 301px;
}
.main-sidebar{
    box-shadow: none !important;
}
button.log {
    width: 202px;
    height: 48px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
}

button.log:focus {
    outline: none;
}

.gray4 {
    color: #BDBDBD;
}

button.bell {
    background-color: #ffffff;
    border: none;
    height: 48px;
    width: 48px;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 12px;
    margin-right: 16px;
}

.w-265 {
    width: 265px;
    margin-left: -65px;
    
}
.dropdown-menu{
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    box-shadow: none;
}
.dropdown-menu-right .dropdown-item{
    padding: 8px 4px;
    color: #828282;
}
a.dropdown-item.logout {
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    color: #333333;
    text-align: center;
    font-weight: 500;
}

button.btn.btn-violet {
    background-color: #AE50A3;
    color: #ffffff;
    height: 48px;
    width: 202px;
    border-radius: 8px;
    padding: 8px;
    margin-right: 16px;
}

.log123[aria-expanded="true"]::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    position: absolute;
    top: 27%;
    font-size: 17px;
    right: 7%;
}

.log123[aria-expanded="false"]::after,
.log123::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    top: 27%;
    font-size: 17px;
    right: 7%;
}
button.btn.btn-pls {
    width: 32px;
    height: 32px;
    background: #AE50A3;
    border-radius: 4px;
    color: #ffffff;
}