<div class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand mx-23">
            <ul class="list-unstyled">
                <li>
                    <h4 *ngIf="showTitle" class="font-weight-bold text-dark f-24 pl-3 pt-3">{{showTitle}}</h4>
                </li>
                <li *ngIf="candidateName">
                    <h4 class="font-weight-bold text-dark f-24 pl-3 pt-3">
                        <span (click)="back()" class="pr-3 cursor-pointer"><i class="fas fa-arrow-left"></i></span>
                        {{candidateName}}

                        <span class="pl-2" *ngIf="vacancyId"><button class="btn btn-pls btn-sm" ngxClipboard
                                [cbContent]="'https://platform.gleango.com/#/recruiter/interview/' + vacancyId">
                                <i class="fas fa-link"></i>
                            </button></span>
                    </h4>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="showTitle == 'Vacancies'">
                    <button class="btn btn-violet" (click)="onAdd()">Add vacancy <i
                            class="fas fa-plus ml-5"></i></button>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="bell fw-500" data-toggle="dropdown">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right mr-3">
                            <a class="dropdown-item  f-12" href="#">You have received a new job reply.</a>
                            <hr class="my-0">
                            <a class="dropdown-item f-12 " href="#">New comments have appeared on <br>candidate Peter
                                Vagner's page.</a>
                            <hr class="my-0">
                            <a class="dropdown-item f-12 " href="#">You have received a new job reply.</a>
                        </div>
                    </div>
                </li>


                <li>
                    <div class="dropdown">
                        <button type="button" class="log text-left f-14 fw-500 log123" data-toggle="dropdown">
                            <span>{{recruiterName}}</span><br><span class="gray4">{{recruiterEmail}}</span>
                        </button>
                        <div class="dropdown-menu w-265">
                            <a class="dropdown-item logout" href="#">Log out</a>
                        </div>
                    </div>
                </li>
                <!-- WELCOME , &nbsp; <span class="font-weight-bold text-info">{{ recruiter }} &nbsp;<span class="font-weight-bold text-dark">/</span> &nbsp; </span> 
                <li class="nav-item">
                    <a (click)="onRecruiterLogout()" class="font-weight-bold text-danger" style="cursor: pointer;">Logout <i class="fas fa-power-off"></i></a>
                </li> -->
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-light-primary elevation-4 sidebar1" id="side">
            <!-- <h4 class="font-weight-bold pt-3 pl-4">RECRUITER PANEL</h4> -->
            <div class="sidebar">
                <nav class="">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item has-treeview menu-open">
                            <!-- <a  class="nav-link active">
                                <p>Menu</p>
                            </a> -->
                            <div class="text-center my-48"><img src="assets/dist/img/Gleango.png"></div>
                            <ul class="nav nav-treeview">
                                <li class="nav-item pt-3">
                                    <a routerLink="/recruiter/dashboard" class="nav-link" routerLinkActive="active">
                                        <i class="fas fa-home nav-icon mr-3"></i>
                                        <p>Home</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/recruiter/vacancy" class="nav-link" routerLinkActive="active">
                                        <i class="fas fa-list-ul nav-icon mr-3"></i>
                                        <p>Vacancies</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/recruiter/candidate" class="nav-link" routerLinkActive="active">
                                        <svg class="mr-3 nav-icon" width="24" height="18" viewBox="0 0 24 18"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M22.5 18C22.5 18 24 18 24 16.5C24 15 22.5 10.5 16.5 10.5C10.5 10.5 9 15 9 16.5C9 18 10.5 18 10.5 18H22.5ZM10.533 16.5C10.5219 16.4985 10.5109 16.4965 10.5 16.494C10.5015 16.098 10.7505 14.949 11.64 13.914C12.468 12.9435 13.923 12 16.5 12C19.0755 12 20.5305 12.945 21.36 13.914C22.2495 14.949 22.497 16.0995 22.5 16.494L22.488 16.497C22.481 16.4982 22.474 16.4992 22.467 16.5H10.533ZM16.5 7.5C17.2956 7.5 18.0587 7.18393 18.6213 6.62132C19.1839 6.05871 19.5 5.29565 19.5 4.5C19.5 3.70435 19.1839 2.94129 18.6213 2.37868C18.0587 1.81607 17.2956 1.5 16.5 1.5C15.7044 1.5 14.9413 1.81607 14.3787 2.37868C13.8161 2.94129 13.5 3.70435 13.5 4.5C13.5 5.29565 13.8161 6.05871 14.3787 6.62132C14.9413 7.18393 15.7044 7.5 16.5 7.5ZM21 4.5C21 5.09095 20.8836 5.67611 20.6575 6.22208C20.4313 6.76804 20.0998 7.26412 19.682 7.68198C19.2641 8.09984 18.768 8.43131 18.2221 8.65746C17.6761 8.8836 17.0909 9 16.5 9C15.9091 9 15.3239 8.8836 14.7779 8.65746C14.232 8.43131 13.7359 8.09984 13.318 7.68198C12.9002 7.26412 12.5687 6.76804 12.3425 6.22208C12.1164 5.67611 12 5.09095 12 4.5C12 3.30653 12.4741 2.16193 13.318 1.31802C14.1619 0.474106 15.3065 0 16.5 0C17.6935 0 18.8381 0.474106 19.682 1.31802C20.5259 2.16193 21 3.30653 21 4.5ZM10.404 10.92C9.80397 10.7311 9.18545 10.6069 8.559 10.5495C8.207 10.516 7.85359 10.4995 7.5 10.5C1.5 10.5 0 15 0 16.5C0 17.5005 0.4995 18 1.5 18H7.824C7.60163 17.5317 7.49074 17.0183 7.5 16.5C7.5 14.985 8.0655 13.437 9.135 12.144C9.4995 11.703 9.924 11.2905 10.404 10.92ZM7.38 12C6.49223 13.3339 6.01266 14.8977 6 16.5H1.5C1.5 16.11 1.746 14.955 2.64 13.914C3.4575 12.96 4.878 12.03 7.38 12.0015V12ZM2.25 5.25C2.25 4.05653 2.72411 2.91193 3.56802 2.06802C4.41193 1.22411 5.55653 0.75 6.75 0.75C7.94347 0.75 9.08807 1.22411 9.93198 2.06802C10.7759 2.91193 11.25 4.05653 11.25 5.25C11.25 6.44347 10.7759 7.58807 9.93198 8.43198C9.08807 9.27589 7.94347 9.75 6.75 9.75C5.55653 9.75 4.41193 9.27589 3.56802 8.43198C2.72411 7.58807 2.25 6.44347 2.25 5.25ZM6.75 2.25C5.95435 2.25 5.19129 2.56607 4.62868 3.12868C4.06607 3.69129 3.75 4.45435 3.75 5.25C3.75 6.04565 4.06607 6.80871 4.62868 7.37132C5.19129 7.93393 5.95435 8.25 6.75 8.25C7.54565 8.25 8.30871 7.93393 8.87132 7.37132C9.43393 6.80871 9.75 6.04565 9.75 5.25C9.75 4.45435 9.43393 3.69129 8.87132 3.12868C8.30871 2.56607 7.54565 2.25 6.75 2.25Z"
                                                fill="#828282" />
                                        </svg>
                                        <p>Candidates</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <app-recruiter-footer></app-recruiter-footer>
        </aside>
    </div>