<section>
    <div class="container-fluid">
        <div class="bg row justify-content-center align-items-center">
            <div class="login-box row justify-content-center align-items-center">

                <div class="">
                    <div class="card-body login-card-body">
                        <div class="fw-500 f-24 text-center text-dark">Set new password</div>
                        <!-- <h4 class="text-center font-weight-bold">Recruiter login</h4> -->
                        <p class="login-box-msg f-16 px-0">Your new password must be different from previous used password</p>
                        <form name='ResetPassform' class="login-form" (ngSubmit)="onNewPass(ff)" #ff="ngForm">
                            <!-- <div class="input-group">
                                <input type="text"  name="username" id="username" class="form-control h-60" placeholder="Username">
                              </div> -->
                            <span class="help-block bk" *ngIf="confNewPassFail">
                                {{ confNewPassFail }}
                            </span>
                            <span class="help-block bk" *ngIf="showErr">
                                {{ showErr }}
                            </span>

      
                            <div class="input-group">
                                <input  type="password" name="newPass" id="newPass" (keyup)="onInputChange($event)" class="form-control h-60" [ngClass]="{'ng-invalid' : confNewPassFail}"
                                    placeholder="Password" [(ngModel)]='resetObj.newPassVal' required #newPass="ngModel">
                                
                            </div>

                            <div class="mt-3">
                                <!-- <span class="help-block bk" *ngIf="!password.valid && password.touched">Please enter
                                    recruiter password
                                    !</span> -->
                                <div class="input-group  ">
                                    <input  type="password" name="confNewPass" id="confNewPass" (keyup)="onInputChange($event)" class="form-control h-60" [ngClass]="{'ng-invalid' : confNewPassFail}"
                                    placeholder="Confirm Password" [(ngModel)]='resetObj.confNewPassVal' required #newPass="ngModel">
                                
                                </div>
                            </div>




                            <div class="row mt-4 mb-1 ">
                                <div class="col-lg-12 ">
                                    <button [ngClass]="{'disabledClass' : !ff.valid}" class="btn btn-sign" [disabled]="!ff.valid" type="submit" >Reset password</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="learn text-center ">
                <div class="container ">
                    <div class="col-lg-12 ">
                        <!-- <div>Learn more about the platform <a href="# " class="fw-600 glean ">Gleango.com</a></div> -->
                        <div class="copy ">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="version-class ">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>