<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                   <!-- <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a> --> 
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                WELCOME , &nbsp; <span class="font-weight-bold text-info">{{ admin }} &nbsp;<span class="font-weight-bold text-dark">/</span> &nbsp; </span> 
                <li class="nav-item">
                    <a (click)="onAdminLogout()" class="font-weight-bold text-danger" style="cursor: pointer;">Logout <i class="fas fa-power-off"></i></a>
                </li>
            </ul>
        </nav>
        
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <h4 class="font-weight-bold text-white pt-3 pl-5">ADMIN PANEL</h4>
            <div class="sidebar">
                <nav class="mt-5">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview menu-open">
                            <a class="nav-link active">
                                <p>Menu</p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item pt-3">
                                    <a routerLink="/admin/dashboard" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Home</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/admin/recruiter" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Recruiter</p>
                                    </a>
                                </li>                               
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
