<section>
    <div class="container-fluid">
        <div class="bg row justify-content-center align-items-center">

            <div class="col-md-3 text-center row justify-content-center align-items-center">
                <div>
                    <img src="../../../assets/dist/img/right.png">
                    <div class="f-48 fw-500">Thank you !</div>
                    <div class="f-18">Your application has been successfully completed .</div>
                    <div class="f-14 pt-1">Learn more about the platform <a href="https://www.gleango.com/" class="violet fw-600">gleango.com</a></div>
                    <!-- <p class="h5 font-weight-bold text-secondary font-italic"><span class="fas fa-check text-success fa-2x"></span> &nbsp; Your application has been successfully completed .</p> -->
                </div>
                <!-- <h1 class="text-info font-weight-bold">Thank you !</h1> -->
                <!-- <p class="h5 font-weight-bold text-secondary font-italic"><span class="fas fa-check text-success fa-2x"></span> &nbsp; Your application has been successfully completed .</p> -->
            </div>
            <div class="learn text-center">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="copy">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- <div class="container text-center" style="margin-top: 14rem;">
    <h1 class="text-info font-weight-bold">Thank you !</h1>
    <p class="h5 font-weight-bold text-secondary font-italic"><span class="fas fa-check text-success fa-2x"></span> &nbsp; Your application has been successfully completed .</p>
</div> -->