<section>
    <div class="container-fluid">
        <div class="bg row justify-content-center align-items-center">
            <div class="login-box row justify-content-center align-items-center">
                <div class="">
                    <div class="card-body login-card-body">
                        <div class="fw-500 f-24 text-center text-dark">Reset Password</div>
                        <!-- <h4 class="text-center font-weight-bold">Recruiter login</h4> -->
                        <p class="login-box-msg f-16 px-0 pb-40 pt-16">Enter your registered email below
                            to receive password reset instruction</p>
                        <form name='forgotPassform' class="login-form" (ngSubmit)="onReset(ff)" #ff="ngForm">
                            <span *ngIf="isMailIncorrect" class="help-block bk f-12">Sorry, this email can't be found. Let's try another one.
                            </span>
                            <!-- <div class="input-group">
                                <input type="text" name="email" id="" class="form-control h-60" placeholder="Email">
                            </div> -->
                            <span class="help-block bk" *ngIf="resetFail">
                                {{ resetFail }}
                            </span>
                            <span class="help-block bk" style="color: green;" *ngIf="resetSuccess">
                                {{ resetSuccess }}
                            </span>
                            <div class="input-group">
                                <input  type="text" name="email" id="email" (keyup)="onInputChange($event)" class="form-control h-60" [ngClass]="{'ng-invalid' : resetFail}"
                                    placeholder="Email" [(ngModel)]='emailVal' required #username="ngModel">
                                
                            </div>


                            <div class="row mt-4 mb-1">
                                <div class="col-lg-12">
                                    <button [ngClass]="{'disabledClass' : !ff.valid}" class="btn btn-sign" [disabled]="!ff.valid" type="submit"  >Reset
                                        password</button>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-cancel" type="button" (click) = "login()">Log in</button>
                                </div>
                            </div>
                            <!-- <div class="fw-600 f-14 text-center">Don’t have an account?<a href="#" class="get"> Get Started</a></div> -->
                        </form>
                    </div>
                </div>
            </div>

            <div class="learn text-center">
                <div class="container">
                    <div class="col-lg-12">
                        <!-- <div>Learn more about the platform <a href="#" class="fw-600 glean">Gleango.com</a></div> -->
                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="version">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="resetModal">
        <div class="modal-dialog modal-sm modal-dialog-centered reset">
            <!-- <div class="modal-dialog modal-dialog-centered"></div> -->
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="">
            
              <button type="button" class="close pr-3 pt-3" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body text-center">
                <div class="f-24 fw-500">Email has been sent!</div>
                <div>Please check your inbox and click
                in the received link to reset a password.</div>

                <button type="submit" class="btn btn-sign f-16 mt-30">Log in</button>
            </div>
            
            
           
            
          </div>
        </div>
      </div>
</section>

<!-- The Modal -->