/* .bg {
    background-image: url("../../../assets/dist/img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
} */

.form-check .form-check-label a {
    color: #AE50A3;
}

button.btn.btn-euip {
    background: rgba(174, 80, 163, 0.5);
    font-size: 16px;
    color: #ffffff;
    height: 48px;
    border-radius: 8px;
}

.learn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 14px;
    color: #4F4F4F;
    transform: translate(-50%, 0%);
}

.copy {
    color: #BDBDBD;
    font-size: 14px;
}

a.glean {
    color: #AE50A3;
}

.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
    border-right: 1px solid #ced4da;
}

.login-card-body, .register-card-body {
    background: #fff;
    border-top: 0;
    color: #666;
    width: 359px;
    padding: 20px;
}
.login-form .input-group .ng-invalid.ng-touched{
    border:  1px solid #F42323;
}

button.btn.btn-sign {
    background: #AE50A3;
    border-radius: 8px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

button.btn.btn-cancel {
    background: #E0E0E0;
    border-radius: 8px;
    color: #4F4F4F;
    font-weight: 500;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
}
a.get {
    color: #AE50A3;
}
input:-internal-autofill-selected{
    background-color: tomato;
}

.pt-16{
    padding-top: 16px;
}

.pb-40{
    padding-bottom: 40px;
}

span.bk {
    color: #F42323;
    font-size: 12px;
    font-weight:400;
}

.version{
    color: #E0E0E0;
}

.mt-30{
    margin-top: 30px;
}

.modal-dialog.reset {
    max-width: 422px;
}
button.btn.btn-sign.disabledClass{
    background: rgb(174, 80, 163, 50%);
    opacity: 1;
}
@media only screen and (max-width:991px) {
    .modal-dialog.reset {
        max-width: auto;
    }
  }