<div class="d-flex justify-content-between">
    <div class="p-2 f-16 fw-600 gray4">Questions</div>
    <div class="p-2"><button type="button" class="btn f-16 fw-600 gray4"
            (click)="showAddQuestionIpt = true; hideQuestionMark = true">Add
            question <span class="pl-3">+</span></button>
    </div>

</div>

<div class="card-body table-responsive p-0" style="width:100%">
    <table class="table table-head-fixed text-center add-question-table">
        <thead>
            <tr>
                <th scope="col">Sl&nbsp;&nbsp;no.</th>
                <th scope="col">Question</th>
                <!-- <th class="col text-center">Question</th> -->
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!hideQuestionMark ">
                <td colspan="3" class="desc-class">

                    <img src="../../../../assets/dist/img/question-mark.png" alt="">
                    <div class="f-16">Add questions to find
                        the perfect candidate for your vacancy!</div>

                </td>
            </tr>
            <ng-container *ngFor="let question of questions; let i = index">
                <tr  *ngIf="question.Status != 1">
                    <td>{{ i + 1 }}</td>
                    <td>{{ question.QUESTION }}</td>
                    <td>
                        <button class="btn btn-edit btn-sm"><i class="fas fa-pencil-alt"></i></button>&nbsp;
                        <button class="btn btn-edit btn-sm" data-toggle="modal" data-target="#deleteQuestion"
                            (click)="this.questionId = question.ID"><i class="fas fa-trash"></i></button>&nbsp;

                        <!-- <button class="btn btn-outline-danger btn-sm" (click)="onDeleteQuestion(question.ID)">Delete <i
                            class="fas fa-trash ml-1"></i></button> -->
                    </td>
                </tr>
            </ng-container>



            <tr *ngIf="showAddQuestionIpt">
                <td>{{questions.length ? (questions.length) + 1 : (hiddenQuestions +
                    1)}}</td>
                <td> <input [(ngModel)]='questionObj.question' (blur)="checkIfValid()" required #title="ngModel"
                        type="text" class="text-center form-control border-no" id="" placeholder="Enter the question">
                    <span class="help-block bk" *ngIf="showErrMsg">{{showErrMsg}}</span>
                </td>
                <td>
                    <button class="btn btn-pls btn-sm" [disabled]="showErrMsg" (click)="onAddQuestion()"><i
                            class="fa fa-plus"></i></button>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="fw-600 f-16 gray4 mb-27">Summary</div>
    </div>
    <div class="col-lg-12">
        <div class="f-16 gray4 pb-1">We have <span class="fw-600">{{questions ? (questions.length) : 0 }} questions</span></div>
    </div>
    <div class="col-lg-12">
        <div class="f-16 gray4">Need about <span class="fw-600"> {{questions ? (questions.length) * 2 : 0}} minutes</span></div>
    </div>
</div>


<div class="modal fade" id="deleteQuestion" #delQuestionModal>
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content save">


            <div class="modal-body p-31">
                <button type="button" class="close close1 pr-2 pt-2" data-dismiss="modal">&times;</button>
                <div class="f-24 text-center pt-2 pb-16">Deleting a question</div>
                <div class="f-16 text-center">Are you sure you want to delete this question?</div>
                <div class="text-center">
                    <button type="button" class="btn btn-schange" (click)="onDeleteQuestion(questionId)">Delete</button>
                    <button type="button" class="btn btn-leave" data-dismiss="modal">Cancel</button>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
</div>
<!-- <app-recruiter-footer></app-recruiter-footer> -->