<section class="">
    <div class="container-fluid">
        <div class="bg row justify-content-center align-items-center">
            <div class="login-box row justify-content-center align-items-center mb-5">

                <div class="">
                    <div class="card-body login-card-body">
                        <div class="fw-500 f-24 text-center text-dark">Recruiter Sign Up</div>
                        <!-- <h4 class="text-center font-weight-bold">Recruiter login</h4> -->
                        <p class="login-box-msg f-16">Sign in to start your session</p>
                        <form class="login-form" name='signUpform' (ngSubmit)="onSignUp(ff)" #ff="ngForm">
                            <!-- <div class="input-group">
                                <input type="text"  name="username" id="username" class="form-control h-60" placeholder="Username">
                              </div> -->
                            <span class="help-block bk" *ngIf="signUpFail">
                                {{ signUpFail }}
                            </span>

                            <!-- <span class="help-block bk" *ngIf="!username.valid && username.touched">Invalid username or password
                                !</span> -->

                            <div class="input-group mt-3">
                                <input type="text" name="username" id="username" (keyup)="onInputChange($event)"
                                    class="form-control h-60" [ngClass]="{'ng-invalid' : signUpFail}"
                                    placeholder="Username" [(ngModel)]='signupObj.username' required
                                    #username="ngModel">

                            </div>

                            <div class="input-group mt-3">
                                <input type="email" name="email" id="email" (keyup)="onInputChange($event)"
                                    class="form-control h-60" [ngClass]="{'ng-invalid' : signUpFail}"
                                    placeholder="Email" [(ngModel)]='signupObj.email' required #email="ngModel">

                            </div>



                            <div class="mt-3">
                                <div class="input-group  password-class">
                                    <input [type]="passwordType" (keyup)="onInputChange($event)" name="password"
                                        id="password" class="form-control h-60" [ngClass]="{'ng-invalid' : signUpFail}"
                                        placeholder="Password" [(ngModel)]='signupObj.password' required
                                        #password="ngModel">
                                    <div class="input-group-append">
                                        <div (click)="toggleShow()" class="input-group-text"
                                            [ngClass]="{'error-border' : ((!password.valid && password.touched) || (!password.valid && password.dirty) || signUpFail)}">
                                            <span class="fas fa-eye" *ngIf="this.showPassword"></span>
                                            <span class="fas fa-eye-slash" *ngIf="!this.showPassword"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4 mb-1">
                                <div class="col-lg-12">
                                    <button [ngClass]="{'disabledClass' : !ff.valid}" class="btn btn-sign"
                                        [disabled]="!ff.valid" type="submit">Sign in</button>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-cancel" (click)="onCancel()" type="button">Cancel</button>
                                </div>
                            </div>
                            <div class=" f-14 text-center">Already have an account?<a (click)="onLogin()"
                                    class="get fw-600 cursor-pointer"> Log In</a></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="learn text-center">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="version-class">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>