<section>
    <div class="container-fluid">
        <div class="bg row justify-content-center align-items-center">
            <div class="login-box row justify-content-center align-items-center">

                <div class="">
                    <div class="card-body login-card-body">
                        <div class="fw-500 f-24 text-center text-dark">Recruiter login</div>
                        <!-- <h4 class="text-center font-weight-bold">Recruiter login</h4> -->
                        <p class="login-box-msg f-16">Sign in to start your session</p>
                        <form class="login-form" name='loginform' (ngSubmit)="onLogin(ff)" #ff="ngForm">
                            <!-- <div class="input-group">
                                <input type="text"  name="username" id="username" class="form-control h-60" placeholder="Username">
                              </div> -->
                            <span class="help-block bk" *ngIf="loginFail">
                                {{ loginFail }}
                            </span>

                            <!-- <span class="help-block bk" *ngIf="!username.valid && username.touched">Invalid username or password
                                !</span> -->
                            <div class="input-group">
                                <input  type="text" name="username" id="username" (keyup)="onInputChange($event)" class="form-control h-60" [ngClass]="{'ng-invalid' : loginFail}"
                                    placeholder="Email" [(ngModel)]='loginObj.username' required #username="ngModel">
                                <!-- <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div> -->
                            </div>

                            <div class="mt-3">
                                <!-- <span class="help-block bk" *ngIf="!password.valid && password.touched">Please enter
                                    recruiter password
                                    !</span> -->
                                <div class="input-group  password-class">
                                    <input [type]="passwordType" (keyup)="onInputChange($event)" name="password" id="password" class="form-control h-60"
                                        [ngClass]="{'ng-invalid' : loginFail}"
                                        placeholder="Password" [(ngModel)]='loginObj.password' required
                                        #password="ngModel">
                                    <div class="input-group-append">
                                        <div (click)="toggleShow()" class="input-group-text"
                                            [ngClass]="{'error-border' : ((!password.valid && password.touched) || (!password.valid && password.dirty) || loginFail)}">
                                            <span class="fas fa-eye" *ngIf="this.showPassword"></span>
                                            <span class="fas fa-eye-slash" *ngIf="!this.showPassword"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="d-flex justify-content-between mt-4 mb-1">
                                <div class="f-14">
                                    <div class="round">
                                        <input type="checkbox" checked id="checkbox" />
                                        <label for="checkbox"></label>
                                        <span class="pl-3 cursor-pointer user-select-none"  (click)="clickCheckbox('checkbox')">Remember me</span>
                                      </div>
                                    <!-- <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">Remember me
                                        </label>
                                    </div> -->
                                </div>

                                <div class="f-14 cursor-pointer" (click)="forgotPassword()">Forgot Password?</div>
                            </div>

                            <div class="row mt-4 mb-1">
                                <div class="col-lg-12">
                                    <button [ngClass]="{'disabledClass' : !ff.valid}" class="btn btn-sign" [disabled]="!ff.valid" type="submit">Sign in</button>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-cancel" (click)="onCancel()" type="button">Cancel</button>
                                </div>
                            </div>
                            <div class=" f-14 text-center ">Don’t have an account?<a (click)="onSignUp()" class="get fw-600 cursor-pointer"> Get
                                    Started</a></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="learn text-center">
                <div class="container">
                    <div class="col-lg-12">
                        <!-- <div>Learn more about the platform <a href="#" class="fw-600 glean">Gleango.com</a></div> -->
                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="version-class">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>