/* .bg {
    background-image: url("../../../assets/dist/img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
} */

.form-check .form-check-label a {
    color: #AE50A3;
}

button.btn.btn-euip {
    background: rgba(174, 80, 163, 0.5);
    font-size: 16px;
    color: #ffffff;
    height: 48px;
    border-radius: 8px;
}

.learn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 14px;
    color: #4F4F4F;
    transform: translate(-50%, 0%);
}
.version-class{
    color: #E0E0E0;
}

.copy {
    color: #BDBDBD;
    font-size: 14px;
}
.login-form .bk{
    color: #F42323;
    font-weight: 400;
}
.login-form .input-group input{
    border: 2px solid #E0E0E0;
    border-radius: 6px;
    color: rgb(51, 51, 51,0.6);
}
.login-card-body .input-group .input-group-text{
    border: 2px solid #E0E0E0;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.login-form .input-group .ng-invalid.ng-touched{
    border:  1px solid #F42323;
}
.login-form .input-group.password-class input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none !important;
}
.error-border{
    border: 1px solid #F42323 !important;
}
a.glean {
    color: #AE50A3;
}

.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
    border-right: 2px solid #E0E0E0;
}


.login-card-body, .register-card-body {
    background: transparent;
    border-top: 0;
    color: #666;
    width: 359px;
    padding: 20px;
}

button.btn.btn-sign {
    background: #AE50A3;
    border-radius: 8px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

button.btn.btn-cancel {
    background: #E0E0E0;
    border-radius: 8px;
    color: #4F4F4F;
    font-weight: 500;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
}
a.get {
    color: #AE50A3;
}
input:-internal-autofill-selected{
    background-color: tomato;
}


.round {
    position: relative;
  }
  
  .round label {
    background-color: #AE50A3;
    border: 1px solid #AE50A3;
    border-radius:2px;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 1;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #ffffff;
    border: 2px solid#4F4F4F;
    border-radius: 2px;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 0;
  }
  button.btn.btn-sign.disabledClass{
      background: rgb(174, 80, 163, 50%);
      opacity: 1;
  }
  