<section class="check-equipment">
    <div class="container-fluid bg">
        <div class=" row justify-content-center align-items-center">

            <div class="col-md-7 equip-main-content text-center row justify-content-center align-items-center">
                <div class="card-body">
                    <video id="video_{{idx}}" class="video-js vjs-default-skin" playsinline></video>
                    <!-- <div class="custom-control custom-checkbox pt-4">
                        <div class="round fw-500 mb-22">
                            <input type="checkbox" class="form-check-input fw-500" checked id="checkbox3" />
                            <label for="checkbox3"></label>
                            <span class="fw-500 pl-4 cursor-pointer" (click)="clickCheckbox('checkbox3')">Audio
                                access</span>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <div class="round fw-500 mb-22">
                            <input type="checkbox" class="form-check-input fw-500" checked id="checkbox3" />
                            <label for="checkbox3"></label>
                            <span class="fw-500 pl-4 cursor-pointer" (click)="clickCheckbox('checkbox3')">Video
                                access</span>
                        </div>
                    </div> -->
                    <div class="form-group pt-4">
                        <button class="btn btn-interview" (click)="onInterview()">Start interview

                        </button>
                    </div>
                    <div class="gray3 f-16">Please enable your audio and video.</div>
                </div>
            </div>
            <div class="footer-texts col-md-12 text-center">
                <div class="container">
                    <div class="col-lg-12">

                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="version-class">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>