button.btn.btn-interview {
    background-color: #ae50a3;
    font-size: 16px;
    color: #ffffff;
    width: 196px;
    border-radius: 8px;
    height: 48px;
}
.bg {
    height: 100%;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

div#video_clip1 {
    width: 633px;
    height: 400px;
    border-radius: 14px;
}

.footer-texts {
    /* position: absolute; */
    /* bottom: 0%; */
    /* left: 50%; */
    font-size: 14px;
    color: #4f4f4f;
    /* transform: translate(-50%, 0%); */
}

.copy {
    color: #bdbdbd;
    font-size: 14px;
}
.version-class {
    color: #e0e0e0;
}
a.glean {
    color: #ae50a3;
}

@media only screen and (max-width: 768px) {
    div#video_clip1 {
        width: 100%;
        height: 245px;
        border-radius: 14px;
    }
}

@media (min-width: 1280px){
    .bg{
        height: 100vh;
    }
    .check-equipment .equip-main-content{
        height: calc(100vh - 55px);
    }
}