<app-admin-header></app-admin-header>

     <div class="content-wrapper">
        <section class="content pt-4">
            <div *ngIf="deleteSucc" class="alert alert-success" role="alert">
                {{ deleteSucc }}
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="" style="width: 100%;">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col"><h4 class="font-weight-bold text-secondary">Recruiter</h4></div>
                                            <div class="col text-right">
                                                <button class="btn btn-outline-success" (click)="onAdd()">Add recruiter <i class="fas fa-plus ml-1"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body table-responsive p-0" style="height:405px; width:100%">
                                        <table class="table table-head-fixed">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Sl no.</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Full name</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Company</th>
                                                    <th scope="col">City</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let recruiter of recruiters; let i = index">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>{{ recruiter.USERNAME }}</td>
                                                    <td>{{ recruiter.FULLNAME }}</td>
                                                    <td>{{ recruiter.PHONE }}</td>
                                                    <td>{{ recruiter.EMAIL }}</td>
                                                    <td>{{ recruiter.COMPANY }}</td>
                                                    <td>{{ recruiter.CITY }}</td>
                                                    <td>
                                                        <button class="btn btn-outline-primary btn-sm" (click)="onEdit(recruiter.ID)">Edit <i class="fas fa-edit ml-1"></i></button>&nbsp; 
                                                        <button class="btn btn-outline-danger btn-sm" (click)="onDeleteRecruiter(recruiter.ID)">Delete <i class="fas fa-trash ml-1"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<app-admin-footer></app-admin-footer>