<router-outlet></router-outlet>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="font-size: 18px; color: white">Please wait...</p>  
  </ngx-spinner>