.hide-page-numbers /deep/ .ngx-pagination li:not(.pagination-previous):not(.pagination-next) {
  display: none;
}
.bg {
  height: 100%;
  padding: 2%;
}
.btn-white {
  float: right;
  position: relative;
  right: 70px;
}

button.btn.btn-start {
  background-color: #ae50a3;
  color: #ffffff;
  width: 360px;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
}

button.btn.btn-stop {
  background-color: #f42323;
  color: #ffffff;
  width: 360px;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
}

div#video_clip1 {
  width: 635px;
  height: 400px;
  border-radius: 14px;
}

.footer-texts {
  /* position: absolute; */
  /* bottom: 0%; */
  /* left: 50%; */
  font-size: 14px;
  color: #4f4f4f;
  /* transform: translate(-50%, 0%); */
}

@media (min-width: 1320px) {
  .interview-question .bg {
    padding: 1%;
    height: 100vh;
  }
  .ques-main-content{
    height: calc(100vh - 40px);
  }
}
