
<section class="interview-question">
    <div class="container-fluid bg">
        <div class=" row justify-content-center align-items-center">
            <div class="col-md-7 col-lg-7 ques-main-content">
                <div class="h5 font-weight-bold text-secondary px-5 mx-4">
                    <div class="d-flex justify-content-between">
                        <!-- <div class="">
                            <small class="font-weight-bold text-secondary">Question</small> &nbsp;<span
                                class="font-italic text-dark">{{ name }}</span>
                        </div> -->
                        <div class=" f-18 fw-500">
                            <div class="fw-500">Questions for: &nbsp;<span class="fw-600">{{ name }}</span></div>
                        </div>
                        <!-- <div class="">
                            NO : &nbsp;<span class="badge badge-success">{{ p }}</span>
                        </div> -->
                        <div class="">
                            NO : &nbsp;<span class="violet">{{ p }} </span>/ {{questions?.length}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="h5 text-center fw-600 f-24 gray3 pt-1"
                        *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: p }">
                        {{ question.QUESTION }}
                    </p>
                    <div class="row pt-1">
                       
                        <div  *ngIf="!remainingTime" class="col text-center text-danger f-16 fw-500">
                            Record will start in <countdown [config]="{ leftTime: 20, format: 'mm:ss' }"></countdown>
                        </div>
                        <div *ngIf="remainingTime" class="col text-center text-danger f-16 fw-500">
                            Time Left: <countdown [config]="{ leftTime: time * 60, format: 'mm:ss' }"></countdown>
                        </div>
                    </div>
                    <div class="pt-4">
                        <video id="video_{{idx}}" class="video-js vjs-default-skin" playsinline></video>
                    </div>
                    <div class="text-center pt-4">
                        <!-- <button class="btn btn-outline-success btn-sm" (click)="onStartRecord()" *ngIf="recordStart">Start
                            recording <i class="fas fa-circle ml-1"></i></button>
                        <button class="btn btn-outline-danger btn-sm" (click)="onStopRecord()" *ngIf="recordStop">Stop
                            recording <i class="fas fa-stop ml-1"></i></button> -->
                            <button class="btn btn-start btn-sm" (click)="onStartRecord()" *ngIf="recordStart">Start
                                recording </button>
                            <button class="btn btn-stop btn-sm" (click)="onStopRecord()" *ngIf="recordStop">Stop
                                recording</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 footer-texts text-center">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
