.search{
background-color: #F2F2F2;
}

button.btn.btn-edit {
    height: 32px;
    width: 32px;
    background-color: #F2F2F2;
    padding: 5px 9px;
    color: #828282;
    border-radius: 4px;
}

.table.table-head-fixed thead tr:nth-child(1) th {
    background-color: #fff;
    border-bottom: 0;
    box-shadow: inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
    position: sticky;
    top: 0;
    text-align: center;
    color: #4F4F4F;
    z-index: 10;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
}




button.btn.btn-sub {
    width: 262px;
    height: 48px;
    background: #AE50A3;
    border-radius: 8px;
    margin-right: 17px;
    font-size: 16px;
    font-weight: 500;
    color:#ffffff;
}

.modal-content.save {
    width: 422px;
}

button.btn.btn-schange {
    width: 360px;
    height: 48px;   
    background: #AE50A3;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}

button.btn.btn-leave {
    width: 360px;
    height: 48px;   
    background: #E0E0E0;
    border-radius: 8px;
    color: #4F4F4F;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
}

.toasterMsg{
    background: #E0E0E0;
    backdrop-filter: blur(8px);
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    padding: 15px 16px;
    font-size: 14px;
    position: absolute;
    bottom: 3%;
    width: 32%;
    right: 3%;
    display: flex;
    justify-content: space-between;
}

.toasterMsg i{
    color: #828282;
}

@media only screen and (max-width:991px) {
    .modal-content.save {
        width: auto;
    }

    button.btn.btn-sub {
        width: auto;
        height: 48px;
        background: #AE50A3;
        border-radius: 8px;
        margin-right: 17px;
        font-size: 16px;
        font-weight: 500;
        color:#ffffff;
    }

    button.btn.btn-schange {
        width: auto;
        height: 48px;   
        background: #AE50A3;
        border-radius: 8px;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        margin-top: 30px;
    }
    
    button.btn.btn-leave {
        width: auto;
        height: 48px;   
        background: #E0E0E0;
        border-radius: 8px;
        color: #4F4F4F;
        font-weight: 600;
        font-size: 16px;
        margin-top: 16px;
    }
  }

.pb-16{
    padding-bottom: 16px;
}



.modal-body.p-31 {
    padding: 31px;
}

button.close.close1 {
    position: absolute;
    right: 4%;
    top: 2%;
}


