
<div class="content-wrapper">
<app-recruiter-header showTitle="Vacancies"></app-recruiter-header>

    <section class="content pt-4">
        <div *ngIf="deleteSucc" class="alert alert-success" role="alert">
            {{ deleteSucc }}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="" style="width: 100%;">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="card mx-23" style="position: relative;">
                                <!-- <div class="card-header">
                                        <div class="row">
                                            <div class="col"><h4 class="font-weight-bold text-secondary">Vacancies</h4></div>
                                            <div class="col text-right">
                                                <button class="btn btn-outline-success" (click)="onAdd()">Add vacancy <i class="fas fa-plus ml-1"></i></button>
                                            </div>
                                        </div>
                                    </div> -->
                                <div class="input-group bg-white p-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-5"><i class="fa fa-search"></i></span>
                                    </div>
                                    <input class="form-control search" id="myInput" type="text" placeholder="Search Job title or keyword"  [(ngModel)]="searchedKeyword">
                                </div>

                                <div class="card-body table-responsive p-0" style="height:calc(100vh - 180px); width:100%">
                                    <table class="table table-head-fixed">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sl no.</th>
                                                <th scope="col">Job</th>
                                                <th scope="col">Company</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Created At</th>
                                                <th scope="col">Candidates</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            <tr *ngFor="let vacancy of vacancies | filter:searchedKeyword; let i = index">
                                                <td>{{ i + 1 }}</td>
                                                <td>{{ vacancy.TITLE }}</td>
                                                <td>{{ vacancy.COMPANY }}</td>
                                                <td>{{ vacancy.CITY }}</td>
                                                <td>{{ vacancy.CREATED_AT| date:'dd/MM/yyyy H:M:S' }}</td>
                                                <td>{{ vacancy.CANDIDATES }}</td>
                                                <td>
                                                    <!-- <button class="btn btn-outline-primary btn-sm" (click)="onEdit(vacancy.V_ID)"> <i class="fas fa-edit ml-1"></i></button>&nbsp; 
                                                        <button class="btn btn-outline-danger btn-sm" (click)="onDeleteVacancy(vacancy.V_ID)"> <i class="fas fa-trash ml-1"></i></button>&nbsp;
                                                        <button class="btn btn-outline-secondary btn-sm" (click)="onQuestion(vacancy.V_ID)">Question <i class="fas fa-question ml-1"></i></button>&nbsp;
                                                        <button class="btn btn-outline-info btn-sm" (click)="onCopy(i)" ngxClipboard [cbContent]="'https://platform.gleango.com/#/candidate/details/' + vacancy.LINK">{{ vacancy.isCopy ? 'Copied..' : '' }} <i class="fas fa-link ml-1"></i></button>                                                         -->

                                                    <button class="btn btn-edit btn-sm" (click)="onEdit(vacancy.V_ID)"><i class='fas fa-pencil-alt'></i></button>&nbsp;
                                                    <button class="btn btn-edit btn-sm" data-toggle="modal" data-target="#delete" (click)="getVacancyId(vacancy.V_ID)" > <i class="fas fa-trash"></i></button>&nbsp;
                                                    <!-- <button class="btn btn-outline-secondary btn-sm" (click)="onQuestion(vacancy.V_ID)">Question <i class="fas fa-question ml-1"></i></button>&nbsp; -->
                                                    <button class="btn btn-edit btn-sm" (click)="onCopy(i)" ngxClipboard [cbContent]="'https://platform.gleango.com/#/candidate/details/' + vacancy.LINK">{{ vacancy.isCopy ? '' : '' }} <i class="fas fa-link"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div *ngIf="showToastMsg" class="toasterMsg">
                                    <div><b>Link copied</b> to clipboard</div>
                                    <div><i class="fas fa-link"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="delete" #delModal >
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content save">

            <!-- Modal Header -->
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->

            <!-- Modal body -->
            <div class="modal-body p-31">
                <button type="button" class="close close1 pr-2 pt-2" data-dismiss="modal">&times;</button>
                <div class="f-24 text-center pt-2 pb-16">Deleting a vacancy</div>
                <div class="f-16 text-center">Are you sure you want to delete this vacancy?</div>
                <div class="text-center">
                    <button type="button" class="btn btn-schange" (click)="onDeleteVacancy(vacancyId)">Delete</button>
                    <button type="button" class="btn btn-leave"  data-dismiss="modal">Cancel</button>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
</div>
<!-- <app-recruiter-footer></app-recruiter-footer> -->