<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                WELCOME , &nbsp; <span class="font-weight-bold text-info">admin &nbsp; <span class="font-weight-bold text-dark">/</span> &nbsp; </span> 
                <li class="nav-item">
                    <a href="" onclick="return confirm('Are you sure you want to Logout ?')" class="font-weight-bold text-danger">Logout <i class="fas fa-power-off"></i></a>
                </li>
            </ul>
        </nav>
        
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="">
                <h4 class="ml-4 mt-3">Admin Panel</h4>
            </a>
            <div class="sidebar">
                <nav class="mt-5">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <p>Menu<i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item pt-3">
                                    <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Home</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/user" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>User</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/candidate" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Candidate</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/city" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>City</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/vacancy" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Vacancy</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/video" class="nav-link" routerLinkActive="active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Video</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
