        
    <div class="login-box" style="margin: auto; margin-top: 9rem;">
        <div class="card">
            <div class="card-body login-card-body">
                <h4 class="text-center font-weight-bold">Admin login</h4>
                <p class="login-box-msg">Sign in to start your session</p>
                <form #loginForm="ngForm">
                    <div class="input-group">
                        <input type="text" 
                        name="username" 
                        id="username" 
                        class="form-control"
                        placeholder="Username"
                        required
                        [(ngModel)]="loginObj.username"
                        #username="ngModel">                        
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                            </div>
                        </div>                        
                    </div>
                    <span class="help-block" *ngIf="!username.valid && username.touched">Please enter admin username.</span>
                    <div class="input-group mt-3">
                        <input type="password" 
                        name="password" 
                        id="password" 
                        class="form-control"
                        placeholder="Password"
                        required
                        [(ngModel)]="loginObj.password"
                        #password="ngModel">                        
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                            </div>
                        </div>                        
                    </div>
                    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter admin password.</span>
                    <div class="row mt-4 mb-1">
                        <div class="col-4">
                            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Sign In</button>
                        </div>
                        <a routerLink="/dashboard">Dashboard</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
