<app-admin-header></app-admin-header>

    <div class="content-wrapper">
        <section class="content pt-4">
            This is admin dashboard page.
        </section>
    </div>

<app-admin-footer></app-admin-footer>