<div class="content-wrapper">
    <app-recruiter-header candidateName="Add vacancy"></app-recruiter-header>

    <section class="content col-md-12 p-0" style="margin: auto;">
        <!-- <div *ngIf="updateMsg" class="alert alert-success" role="alert">
            {{ updateMsg }}
        </div> -->
        <div class="card br-8 mx-23">
            <!-- <div class="card-header h4 font-weight-bold text-secondary">Edit vacancy</div> -->
            <div class="card-body">
                <!-- <form name="vacancyupdateform" (ngSubmit)="ff.form.valid && onUpdateVacancy(ff)" #ff="ngForm"> -->
                <form name="vacancyform" (ngSubmit)="ff.form.valid && onAddVacancy(ff)" #ff="ngForm">
                    <div class="form-group mb-0">
                        <label class="mb-0 py-24">Title</label>
                        <input type="text" name="title" class="form-control h-60" [(ngModel)]='vacancyObj.title'
                            required #title="ngModel">
                        <span class="help-block bk" *ngIf="!title.valid && title.touched">The title field is required
                            !</span>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-0 py-24">Company</label>
                        <input type="text" name="company" class="form-control h-60" [(ngModel)]='vacancyObj.company'
                            required #company="ngModel">
                        <span class="help-block bk" *ngIf="!company.valid && company.touched">The company field is
                            required !</span>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-0 py-24">City</label>
                        <input type="text" name="city" class="form-control h-60" [(ngModel)]='vacancyObj.city' required
                            #city="ngModel">
                        <span class="help-block bk" *ngIf="!city.valid && city.touched">The city field is required
                            !</span>
                    </div>

                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div class="fw-600 f-16 gray4 mb-19 mt-4"> Assessed skills</div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-22">
                                <div class="form-check">
                                    <label class="form-check-label f-16 fw-500 gray4">
                                        <input type="checkbox" class="form-check-input" value="">Problem solving
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-22">
                                <div class="form-check">
                                    <label class="form-check-label f-16 fw-500 gray4">
                                        <input type="checkbox" class="form-check-input" value="">Time management
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-22">
                                <div class="form-check">
                                    <label class="form-check-label f-16 fw-500 gray4">
                                        <input type="checkbox" class="form-check-input" value="">Leadership
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-22">
                                <div class="form-check">
                                    <label class="form-check-label f-16 fw-500 gray4">
                                        <input type="checkbox" class="form-check-input" value="">Adaptability
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-22">
                                <div class="form-check">
                                    <label class="form-check-label f-16 fw-500 gray4">
                                        <input type="checkbox" class="form-check-input" value="">Teamwork
                                    </label>
                                </div>
                            </div>
                            <div class="form-group mb-22">
                                <div class="form-check">
                                    <label class="form-check-label f-16 fw-500 gray4">
                                        <input type="checkbox" class="form-check-input" value="">Communication
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="fw-600 f-16 gray4 mb-19 mt-4 d-flex align-items-center skills-title">
                                <div>
                                    Assessed skills
                                </div>

                                <span class="simptip-position-top simptip-fade"
                                    data-tooltip="You will not be able to edit accessed skills in the future."><svg
                                        class="info-icon" width="17" height="17" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6.99967 0.333252C3.31967 0.333252 0.333008 3.31992 0.333008 6.99992C0.333008 10.6799 3.31967 13.6666 6.99967 13.6666C10.6797 13.6666 13.6663 10.6799 13.6663 6.99992C13.6663 3.31992 10.6797 0.333252 6.99967 0.333252ZM7.66634 10.3333H6.33301V6.33325H7.66634V10.3333ZM7.66634 4.99992H6.33301V3.66659H7.66634V4.99992Z"
                                            fill="#BDBDBD" />
                                    </svg>
                                </span>

                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="row">
                                <div *ngFor="let skills of skillSetArray; let i = index" class="col-lg-6">
                                    <div class="round fw-500 mb-22">
                                        <input type="checkbox" class="form-check-input fw-500" checked
                                            id="checkbox{{i+1}}" />
                                        <label for="checkbox{{i+1}}" (click)="checkClick('checkbox' + (i+1))"></label>
                                        <span class="fw-500 pl-4 user-select-none cursor-pointer"
                                            (click)="clickCheckbox('checkbox' + (i+1))">{{skills.name}}</span>
                                        <span class="simptip-position-top simptip-fade"
                                            [attr.data-tooltip]="skills.tooltip">
                                            <svg class="info-icon" width="17" height="17" viewBox="0 0 16 16"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.99967 0.333252C3.31967 0.333252 0.333008 3.31992 0.333008 6.99992C0.333008 10.6799 3.31967 13.6666 6.99967 13.6666C10.6797 13.6666 13.6663 10.6799 13.6663 6.99992C13.6663 3.31992 10.6797 0.333252 6.99967 0.333252ZM7.66634 10.3333H6.33301V6.33325H7.66634V10.3333ZM7.66634 4.99992H6.33301V3.66659H7.66634V4.99992Z"
                                                    fill="#BDBDBD" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <app-add-question [selectedSkillsArray]="sendSkillsArray" [isClear]="clearQueList" [getSkillQuesArr]="quesTextArr"
                        (sendQuestions)="getQuestionArray($event)">
                    </app-add-question>

                    <!-- <div class="d-flex justify-content-between">
                        <div class="p-2 f-16 fw-600 gray4">Questions</div>
                        <div class="p-2"><button type="button" class="btn f-16 fw-600 gray4">Add question <span
                                    class="pl-3">+</span></button>
                        </div>

                    </div>

                    <div class="card-body table-responsive p-0" style="width:100%">
                        <table class="table table-head-fixed text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Sl&nbsp;&nbsp;no.</th>
                                    <th scope="col">Question</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>10</td>
                                    <td>What is your name?</td>

                                    <td>
                                        <button class="btn btn-edit btn-sm"><i
                                                class="fas fa-pencil-alt"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"><i class="fas fa-trash"></i></button>&nbsp;
                                    </td>


                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>What is your name?</td>
                                    <td>
                                        <button class="btn btn-edit btn-sm"> <i
                                                class="fas fa-pencil-alt"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-trash"></i></button>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>What is your name?</td>
                                    <td>
                                        <button class="btn btn-edit btn-sm"> <i
                                                class="fas fa-pencil-alt"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-trash"></i></button>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td> <input type="text" class="text-center form-control border-no" id=""
                                            placeholder="Enter the question"></td>
                                    <td>
                                        <button class="btn btn-pls btn-sm"><i class="fa fa-plus"></i></button>&nbsp;
                                        <button class="btn btn-edit btn-sm"> <i class="fas fa-trash"></i></button>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->


                    <div class="row" *ngIf="successMsg">
                        <div class="col-lg-12">
                            <div class="form-group text-center pt-2">
                                <div class="added f-14 float-right pt-15 mr-4">
                                    <span class="fw-600">{{successMsg}}</span>
                                    <i class="fa fa-check pl-2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group text-right pt-2">
                                <button class="btn btn-cancel" type="button" (click)="onCancel()">Cancel</button>
                                <!-- <button class="btn btn-sub" type="submit" [disabled]="!ff.valid">Submit</button> &nbsp; -->
                                <!-- <button type="button" class="btn btn-sub" data-toggle="modal" data-target="#copyLink">
                                    Create
                                </button> -->
                                <button type="submit" class="btn btn-sub" [disabled] = "vacancyObj.title == '' || vacancyObj.company == '' || vacancyObj.city == ''">
                                    Create
                                </button>
                                <button [hidden] = "true" id="openCopyLinkModal" data-toggle="modal" data-target="#copyLink"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </section>
</div>

<!-- The Modal -->
<div class="modal fade" id="copyLink">
    <div class="modal-dialog modal-sm">
        <div class="modal-content save">

            <!-- Modal Header -->
            <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->

            <!-- Modal body -->
            <div class="modal-body p-31">
                <button type="button" (click)="reloadCurrentPage()" class="close close1 pr-2 pt-2" data-dismiss="modal">&times;</button>
                <div class="f-24 text-center pt-2 pb-16 fw-500">
                    <div>Congratulations!</div>
                    <div>Your vacancy is created!</div>
                </div>
                <div class="f-16 text-center fw-300" style="color: #4f4f4f;">Copy this link and send to the candidate.
                    When the candidate sumbits interview it will appear in the profile (<a data-dismiss="modal" routerLink="/recruiter/candidate" class="candidateLink cursor-pointer">Candidates</a>)</div>
                <div class="text-center">
                    <button class="btn btn-schange" (click)="onCopy()" ngxClipboard [cbContent]="'https://platform.gleango.com/#/candidate/details/' + getLink">{{isCopy ? 'Copied' : 'Copy link'}}</button>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->

        </div>
    </div>
</div>

<!-- <app-recruiter-footer></app-recruiter-footer> -->