@import url('assets/plugins/fontawesome-free/css/all.min.css');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css');
@import url('assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css');
@import url('assets/plugins/jqvmap/jqvmap.min.css');
@import url('assets/dist/css/adminlte.min.css');
@import url('assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css');
@import url('assets/plugins/daterangepicker/daterangepicker.css');
@import url('assets/plugins/summernote/summernote-bs4.css');

/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~video.js/dist/video-js.css';
@import '~videojs-record/dist/css/videojs.record.css';
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
}

span.bk {
    color: rgb(190, 60, 60);
    ;
    font-size: 15px;
    font-weight: 600;
}

.video-js {
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .content-wrapper {
        transition: margin-left .3s ease-in-out;
        margin-left: 301px !important;
    }
    .main-footer {
        transition: margin-left .3s ease-in-out;
        margin-left: 0px !important;
    }
}
.fw-300{
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-18 {
    font-size: 18px;
}

.f-24 {
    font-size: 24px;
}

.f-48 {
    font-size: 48px;
}

.f-70 {
    font-size: 70px;
}

.gray3 {
    color: #828282;
}

.gray4 {
    color: #333333;
}

.main-header {
    border-bottom: none;
}

.content-wrapper {
    background: #F2F2F2;
    height: 80vh;
}

.mb-19 {
    margin-bottom: 19px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-27 {
    margin-bottom: 27px;
}

.mb-40 {
    margin-bottom: 40px;
}

.h-60 {
    height: 60px;
}

.br-6 {
    border-radius: 6px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pt-24 {
    padding-top: 24px;
}

.bg {
    background-image: url("./assets/dist/img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.learn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 14px;
    color: #4F4F4F;
    transform: translate(-50%, 0%);
}

.violet {
    color: #AE50A3;
}

footer.main-footer {
    position: sticky;
    bottom: 0%;
    text-align: center;
    width: -webkit-fill-available;
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
    border-top: none;
}

.version {
    color: #E0E0E0;
    font-size: 14px;
}

span.input-group-text.bg-5 {
    background-color: #F2F2F2;
}

.search {
    background-color: #F2F2F2;
    border-left: none;
}

.mx-23 {
    margin: 0px 23px;
}

.mt-16 {
    margin-top: 16px;
}

.controls {
    position: absolute;
    width: 100%;
    bottom: 18%;
}

.cursor-pointer{
    cursor: pointer;
}
.gray2{
    color: rgb(79, 79, 79,50%);
}
.grayTitle{
    color: rgb(130, 130, 130, 50%);
    text-transform: uppercase;
}