<section class="interview-detail">
    <div class="container-fluid bg">
        <div class=" row align-items-center">
            <div class="col-md-6 col-lg-4" style="margin: auto;">
                <div *ngIf="detailsFail" class="alert alert-danger" role="alert">
                    {{ detailsFail }}
                </div>
                <div class="">
                    <div class="card-body">
                        <form name="vacancyform" class="detail-form" (ngSubmit)="ff.form.valid && onDetails(ff)"
                            #ff="ngForm">
                            <div class="form-group">
                                <div class="text-center f-24 fw-500">Hey! What is your name?</div>
                                <div class="f-16 text-center mx-5 px-4 mb-40">Enter the data to gain access to the
                                    interview</div>
                                <span class="help-block bk" *ngIf="!name.valid && name.touched">fields are
                                    required!</span>
                                <input type="text" name="name" id="name" placeholder="Name"
                                    class="form-control h-60 br-6" [(ngModel)]='detailsObj.name' required
                                    #name="ngModel">
                                <!-- <span class="help-block bk" *ngIf="!name.valid && name.touched">fields are
                                    required!</span> -->
                            </div>
                            <div class="form-group">
                                <!-- <label>Your email</label> -->
                                <span class="help-block bk" *ngIf="!email.valid && email.touched"> Email field is
                                    required!</span>
                                <input type="text" name="email" placeholder="Email" id="email"
                                    class="form-control h-60 br-6" [(ngModel)]='detailsObj.email' required
                                    #email="ngModel" email>
                                <!-- <span class="help-block bk" *ngIf="!email.valid && email.touched">The email field is
                                    required!</span> -->
                            </div>
                            <div class="form-group">
                                <div class="f-16 fw-600 pb-3">This is the next step to get your dream job.</div>
                                <div class="f-16 gray4 pb-2">We have <span class="fw-600" *ngIf="questions">{{
                                        questions.length }} questions</span></div>
                                <div class="f-16 gray4 pb-2">You need about <span class="fw-600">{{ questions.length * 3
                                        }} minutes</span></div>
                                <!-- <p class="font-weight-bold h5 text-muted pt-3">This is the next step to get your dream job.</p> -->
                                <!-- <h6 class="font-weight-bold pt-2 pl-4">We have : <span class="text-info" *ngIf="questions">{{ questions.length }} questions</span></h6>
                        <h6 class="font-weight-bold pl-4">You need about : <span class="text-danger">{{ questions.length * 3 }} minutes</span></h6> -->
                            </div>
                            <div>
                                <div class="round  fw-500 mb-22">
                                    <input type="checkbox" class=" fw-500"  name="check" [(ngModel)]='detailsObj.check' checked required
                                        #check="ngModel"  id="checkbox" />
                                    <label for="checkbox"></label>
                                    <span class="pl-3 cursor-pointer user-select-none f-16"
                                        (click)="clickCheckbox('checkbox')">
                                        I agree to the <a routerLink="/candidate/terms-conditions" target="_blank">
                                            Terms & Conditions
                                        </a> and <a routerLink="/candidate/privacy-policy" target="_blank">Privacy
                                            Policy</a>.
                                    </span>
                                </div>
                                <!-- 
                                <input type="checkbox" class="form-check-input" name="check"
                                    [(ngModel)]='detailsObj.check' required #check="ngModel"> -->
                                <!-- <label class="form-check-label f-16">I agree to the <a
                                        routerLink="/candidate/terms-conditions" target="_blank"> Terms & Conditions
                                    </a> and <a routerLink="/candidate/privacy-policy" target="_blank">Privacy
                                        Policy</a>.</label> -->
                            </div>
                            <span class="help-block bk pl-3" *ngIf="!check.valid && check.touched">Please check the
                                Terms & Conditions .</span>

                            <div class="form-group pt-2">
                                <button class="btn btn-euip w-100" type="submit" [disabled]="!ff.valid && !detailsObj.check">Check
                                    equipment</button> &nbsp;
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-texts text-center col-lg-12">
                    <div class="container">
                        <div class="">
                            <div>Learn more about the platform <a href="https://www.gleango.com/" class="fw-600 glean">gleango.com</a></div>
                            <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                            <div class="version-class">Version 3.0.5</div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
</section>