/* .bg {
    background-image: url("../../../assets/dist/img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
} */
.bg {
    height: 100%;
}
.form-check .form-check-label a {
    color: #ae50a3;
}

button.btn.btn-euip {
    background: rgba(174, 80, 163);
    font-size: 16px;
    color: #ffffff;
    height: 48px;
    border-radius: 8px;
}

.footer-texts {
    /* position: absolute; */
    /* bottom: 0%; */
    /* left: 50%; */
    font-size: 14px;
    color: #4f4f4f;
    /* transform: translate(-50%, 0%); */
}

.copy {
    color: #bdbdbd;
    font-size: 14px;
}

a.glean {
    color: #ae50a3;
}

.detail-form .bk {
    color: #f42323;
    font-weight: 400;
}

.detail-form .ng-invalid.ng-touched {
    border: 1px solid #f42323;
}

.round {
    position: relative;
}

.round label {
    background-color: #ffffff;
    border: 1px solid #ccc;
    /* border-radius:6px; */
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #ae50a3;
    /* border-color: #4F4F4F; */
}
.version-class {
    color: #e0e0e0;
}

.round input[type="checkbox"]:disabled + label {
    background-color: #bdbdbd;
    /* border-color: #4F4F4F; */
}

.round input[type="checkbox"]:disabled + label:after {
    border: 2px solid #fff;
    border-top: none;
    opacity: 1 !important;
    border-right: none;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

@media (min-width: 1320px) {
    .interview-detail .bg {
        height: 100vh;
    }
}
