<app-admin-header></app-admin-header>

     <div class="content-wrapper">
        <section class="content pt-4 col-md-8" style="margin: auto;">
            <div *ngIf="successMsg" class="alert alert-success" role="alert">
                {{ successMsg }}
            </div>
            <div class="card">
                <div class="card-header h4 font-weight-bold text-secondary">Add recruiter</div>
                <div class="card-body">
                    <form name="vacancyform" (ngSubmit)="ff.form.valid && onAddRecruiter(ff)" #ff="ngForm">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" 
                            name="username" 
                            id="username" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.username'
                            required
                            #username="ngModel">
                            <span class="help-block bk" *ngIf="!username.valid && username.touched">The username field is required !</span>
                        </div>
                        <div class="form-group">
                            <label>Full name</label>
                            <input type="text" 
                            name="fullname" 
                            id="fullname" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.fullname'
                            required
                            #fullname="ngModel">
                            <span class="help-block bk" *ngIf="!fullname.valid && fullname.touched">The full name field is required !</span>
                        </div>
                        <div class="form-group">
                            <label>Phone no</label>
                            <input type="text" 
                            name="phone" 
                            id="phone" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.phone'
                            required
                            #phone="ngModel">
                            <span class="help-block bk" *ngIf="!phone.valid && phone.touched">The phone no field is required !</span>
                        </div> 
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" 
                            name="email" 
                            id="email" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.email'
                            required
                            #email="ngModel"
                            email>
                            <span class="help-block bk" *ngIf="!email.valid && email.touched">The email field is required !</span>
                        </div> 
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" 
                            name="password" 
                            id="password" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.password'
                            required
                            #password="ngModel">
                            <span class="help-block bk" *ngIf="!password.valid && password.touched">The password field is required !</span>
                        </div> 
                        <div class="form-group">
                            <label>Company</label>
                            <input type="text" 
                            name="company" 
                            id="company" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.company'
                            required
                            #company="ngModel">
                            <span class="help-block bk" *ngIf="!company.valid && company.touched">The company field is required !</span>
                        </div> 
                        <div class="form-group">
                            <label>City</label>
                            <input type="text" 
                            name="city" 
                            id="city" 
                            class="form-control"
                            [(ngModel)]='recruiterObj.city'
                            required
                            #city="ngModel">
                            <span class="help-block bk" *ngIf="!city.valid && city.touched">The city field is required !</span>
                        </div>                                              
                        <div class="form-group text-right pt-2">
                            <button class="btn btn-primary" type="submit" [disabled]="!ff.valid">Submit</button> &nbsp;
                            <button class="btn btn-dark" type="button" (click)="onCancel()">Cancel</button>
                        </div>
                    </form>                    
                </div>
            </div>
            <br>
        </section>        
    </div>

<app-admin-footer></app-admin-footer>