        
    <div class="login-box" style="margin: auto; margin-top: 9rem;">
        <div *ngIf="loginFail" class="alert alert-danger" role="alert">
            {{ loginFail }}
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <h4 class="text-center font-weight-bold">Admin login</h4>
                <p class="login-box-msg">Sign in to start your session</p>
                <form name='loginform' (ngSubmit)="onLogin(ff)" #ff="ngForm">
                    <div class="input-group">
                        <input type="text" 
                        name="username" 
                        id="username" 
                        class="form-control"
                        placeholder="Username"
                        [(ngModel)]='loginObj.username'
                        required
                        #username="ngModel">                        
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                            </div>
                        </div>                        
                    </div>
                    <span class="help-block bk" *ngIf="!username.valid && username.touched">Please enter admin username !</span>
                    <div class="input-group mt-3">
                        <input type="password" 
                        name="password" 
                        id="password" 
                        class="form-control"
                        placeholder="Password"
                        [(ngModel)]='loginObj.password'
                        required
                        #password="ngModel">                        
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                            </div>
                        </div>                        
                    </div>
                    <span class="help-block bk" *ngIf="!password.valid && password.touched">Please enter admin password !</span>
                    <div class="row mt-4 mb-1">
                        <div class="col">
                            <button class="btn btn-primary" [disabled]="!ff.valid" type="submit">Sign In</button>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-dark" (click)="onCancel()" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
