<section>
    <div class="container-fluid">
        <div class="bg row justify-content-center align-items-center">

            <div class="login-box">

                <div class="text-center">
                    <!-- <img src="assets/dist/img/Gleango.png" class="logo"> -->
                    <div class="f-70 fw-500">GLEANGO</div>
                    <div>Simple video interview software</div>
                    <div>with soft skills assessment.</div>
                    <button type="button" (click)="onRecruiter()" class="btn btn-recruit w-100">I am a
                        recruiter</button>
                    <div><button type="button" (click)="onAdmin()" class="btn btn-outline-admin w-100">I am an
                            admin</button> &nbsp;&nbsp;</div>
                </div>


                <!-- <button type="button" (click)="onCandidate()" class="btn btn-outline-success btn-lg">I am a candidate</button> -->
            </div>
            <div class="learn text-center">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="copy">Copyright © 2019 - 2022. All Rights Reserved.</div>
                        <div class="version">Version 3.0.5</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>