/* .bg {
    background-image: url("../../assets/dist/img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
} */
 /* img.logo {
    width: 364px;
    padding-bottom: 16px;
} */



  .f-70{
      font-size: 70px;
  }

button.btn.btn-recruit {
    width: 360px;
    height: 48px;
    background-color: #AE50A3;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 40px;
}

button.btn.btn-outline-admin {
    border: 1px solid #AE50A3;
    width: 360px;
    height: 48px;
    border-radius: 8px;
    color: #AE50A3;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

@media only screen and (max-width: 600px) {
    button.btn.btn-recruit {
    width: auto;
    height: 48px;
    background-color: #AE50A3;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 40px;
}

button.btn.btn-outline-admin {
    border: 1px solid #AE50A3;
    width: auto;
    height: 48px;
    border-radius: 8px;
    color: #AE50A3;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}
.f-70{
    font-size: 40px;
}
  } 

.learn {
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 14px;
    color: #4F4F4F;
    transform: translate(-50%, 0%);
}

.copy {
    color: #BDBDBD;
    font-size: 14px;
}

a.glean {
    color: #AE50A3;
}